
@{
    ViewData["Title"] = "Excluido!";
}

<div class="content">

    <div class="lista-botoes">
        <a class="botao" asp-action="Index" asp-controller="Funcionario">Voltar</a>
    </div>

    <br />

    <div class="mensagem-sucesso">
        <span>Excluido com sucesso!</span>
    </div>

</div>
